
/* base.css */

.jumbotron {
    margin-top: 1em;
}

.ss-sc-button {
    padding-top: 1em;
}

.ss-sub {
    vertical-align: text-top;
}

.ss-waveform {
    background-color: #fbbbbc;
    background-clip: border-box;
    background-size: cover;
}

body:after {
    content: "";
    background: url('/img/soundstorm-logo-500x500.png');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
