
/* base.css */

.jumbotron {
    margin-top: 1em;
}

.ss-sc-button {
    padding-top: 1em;
}

.ss-sub {
    vertical-align: text-top;
}

.ss-waveform {
    background-color: #B3E0F2;
    background-clip: border-box;
    background-size: cover;
}